#conteudo input[type="text"]
{
	text-transform: uppercase;
}

#conteudo #ClienteEmail
{
	text-transform: lowercase;
}

#conteudo #listar
{
	width: 96%;
}

#conteudo #ClienteTelefone,
#conteudo #ClienteCelular
{
	width: 106px;
	text-align: center;
}

#ClienteBairro
{
	width: 250px;
}

#lbClientecnpj,
#lbClientecelular,
#lbClientecep
{
	display: block;
	float: left;
	text-align: right;
	width: 149px;
	margin: 0px 2px 0px 0px;
}

#lbClientecelular
{
	width: 237px;
}

#lbClientecnpj
{
	width: 235px;
}
