#txtInstalaBanco
{
	margin: 50px auto;
	width: 800px;
	border: 1px solid #ccc;
	padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#txtInstalaBanco .txt_sql
{
	padding: 5px;
	background-color: red;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: white;
	font-weight: bold;
}

#FerramentaNome
{
	text-transform: uppercase;
}

label
{
	margin: 0px 10px 0px 0px;
}

input[type='password'],
input[type='text']
{
	width: 300px;
}

.iErro
{
	color: red;
}
