#conteudo #listar
{
	/*width: 96%;*/
}

#UsuarioLogin
{
	text-transform: lowercase;
}

#UsuarioNome
{
	text-transform: uppercase;
}

#UsuarioEmail
{
	text-transform: lowercase;
}

#UsuarioLogin
{
	text-align: center;
}

#leultimo_acesso
{
	font-weight: none;
}
