#conteudo #listar
{
	width: 96%;
}

#UsuarioLogin
{
	text-transform: lowercase;
}

#UsuarioNome
{
	text-transform: uppercase;
}

#UsuarioEmail
{
	text-transform: lowercase;
}

#UsuarioLogin
{
	text-align: center;
}
/*
#ed_Usuario_ativo
{
	background-color: #ddd;
	width: 200px;
	text-align: right;
}
*/
